@mixin easeIn {
    transition: 0.5s;
    transition-timing-function: ease-out;
}

$background-color: #fff;
$primary-color: black;
$home-color: #12c2e9;
$nav-color: #f953c6;
$about-color: #29fa29;
$project-color: #fffa00;

body {
    margin: 0;
    padding: 0;
    font-family: 'Unica One', cursive, Avenir, Helvetica, Arial, sans-serif;
}

.nav-container {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    height: 8vh;
    width: 100vw;
    border-bottom: 2px solid black;
    
    background-color: $primary-color;
    color: $background-color;
}

.logo {
    font-size: 20px;
    font-weight: 900;
}

.nav-links {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: 30%;
    height: 3vh;
    background-color: $primary-color;

    a {
        text-decoration: none;
        color: $background-color;
    }
    
    li {
        list-style: none;
    }
    
    :hover {
        border-bottom: 2px solid $nav-color;
        @include easeIn;
    }
}

.nav-burger {
    display: none;

    div {
        width: 1.5rem;
        height: 2px;
        background-color: $background-color;
        margin: 4px;
    }

    :hover {
        background-color: $nav-color;
        @include easeIn;
    }
}

.section {
    text-align: right;

    &#home {
        height: 50vh;
        padding-top: 25%;
        border: 2px solid black;
    }

    #about {
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    #project {
        height: 80vh;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        padding-bottom: 5vh;
        margin-bottom: 5vh;
    }
}

.home-name-tag {
    margin-right: 10vw;
    // margin-top: 30vh;
    line-height: 0;
    height: 30vh;
    border-right: 5px solid black;
    padding: 1% 2%;

    h1 {
        font-size: 55px;
    }

    span {
        font-size: 70px;
        letter-spacing: 5px;
    }

    h3 {
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .icons {
        padding: 20px;
        font-size: 3rem;

        :hover {
            color: $home-color;
            @include easeIn;
            cursor: pointer;
        }
    }
}

.about-container {
    height: 100vh;
    width: 100vw;
    display: flex;

    div {
        height: 100vh;
        padding: 2%;
        text-align: center;
        display: flex;
        align-items: center;
        margin: auto;

        .bio-box {
            margin-right: 5vh;
            width: 50vw;
        }

        .photo-box {
            width: 50vw;
        }
    }

    img {
        margin: 0;
        height: 45vh;
        width: auto;
        border: 3px solid black;
        border-radius: 50%;

        &:hover {
            border-color: $home-color;
            @include easeIn;
        }
    }

    p {
        line-height: 35px;
        font-size: 1.5rem;
        font-family: Avenir, sans-serif;

    }
}

.project-box {
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: space-around;
    // padding-top: 10vh;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 10vh 1vw;
    

    .project {
        height: 85vh;
        width: 23vw;
        margin: 0;
        text-align: center;
        align-items: center;
    }

    

    .project1 {
        .img-box {
            height: 35vh;
            width: 100%;
            border: 2px solid black;
            background: url(https://i.imgur.com/nBNRUTa.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .project2 {
        .img-box {
            height: 35vh;
            border: 2px solid black;
            background: url(https://i.imgur.com/t1VCXO8.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .project3 {
        .img-box {
            height: 35vh;
            border: 2px solid black;
            background: url(https://i.imgur.com/Wgz5LOf.png?1);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .project4 {
        .img-box {
            height: 35vh;
            width: auto;
            border: 2px solid black;
            background: url(https://i.imgur.com/Jg6oj1i.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .title {
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }

    p {
        margin-bottom: 1.5rem;
        font-family: Avenir, sans-serif;
    }

    .button-box {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 3px solid black;
        padding-bottom: 3vh;

        button {
            width: 10vw;
            height: 6vh;
            border: 1px solid black;
            font-size: 0.75rem;
            font-family: Avenir, sans-serif;
        }

        :hover {
            border: 2px solid $nav-color;
            @include easeIn;
            cursor: pointer;
        }
    }
}

// Footer
footer {
    position: fixed;
    margin-top: 5vh;
    height: 5vh;
    width: 100vw;
    text-align: center;
    color: $background-color;
    background-color: $primary-color;
    bottom: 0;
}



// Small Laptop
@media screen and (max-width: 991px) {

    .section#home {
        padding-top: 55vh;
    }

    .nav-links {
        width: 40%;
    }

    .home-name-tag {
        height: 22vh;

        h1 {
            font-size: 39px;
        }
        span {
            font-size: 55px;
            letter-spacing: 3px;
        }
        h3 {
            font-size: 30px;
        }
        .icons {
            padding: 10px;
            font-size: 2rem;
        }
    }

    
}

// Tablet
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .section {

        &#home {
            padding-top: 55vh;
        }

        &#about {
            padding-top: 8vh;
        }
        
    }

    // Nav Menu
    .nav-links {
        position: absolute;
        left: 0px;
        height: 92vh;
        top: 9vh;
        width: 40%;
        background-color: rgba($background-color, 1.0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: $primary-color;
        font-weight: 800;
        font-size: 2rem;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;

        a {
            color: $primary-color;
        }

        li {
            opacity: 0.5;
        }
    }

    .nav-burger {
        display: block;
        cursor: pointer;
    }

    // Home Page 
    .home-name-tag {
        height: 18vh;

        h1 {
            font-size: 30px;
        }
        span {
            font-size: 45px;
        }
        h3 {
            font-size: 20px;
        }
    }

    .nav-active {
        transform: translateX(0%)
    }

    // About Page
    .about-container {
        display: block;

        .photo-box {
            height: 50vh;
            width: 100vw;
            padding: 0;
            margin: 8vh 0;
            display: flex;
            justify-content: center;
        }

        .bio-box {
            height: 30vh;
            width: 100vw;
            padding: 0;
        }
    }

    //Projects Page
    .project-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10vh 5vw;
        margin: 0;
        width: 90%;

        .project {
            width: 100%;
        }

        .button-box {
            width: 100%;

            button {
                width: 20vw;
            }
        }
    }
}

//Medium Tablet
@media screen and (max-width: 515px) {
    .nav-links {
        width: 50%;
    }

    .home-name-tag {
        height: 17vh;
        margin-right: 6vw;

        h1 {
            font-size: 25px;
        }
        span {
            font-size: 40px;
            letter-spacing: 2px;
        }
        h3 {
            font-size: 15px;
        }
    }

    .project {
        margin-bottom: 5vh;
    }
}

@media screen and (max-width: 360px) {
    .nav-links {
        width: 50%;
    }

    .home-name-tag {
        height: 17vh;
        margin-right: 4vw;

        h1 {
            font-size: 20px;
        }
        span {
            font-size: 30px;
            letter-spacing: 1px;
        }
        h3 {
            font-size: 13px;
        }
    }

    
    .about-container {
        padding-top: 5vh;

        .photo-box {
            height: 40vh;
            width: 80vw;
            margin: 0 auto;

            img {
                height: 40vh;
            }
            
            .photo {
                width: 80vw;
                border-radius: 50%;
            }
        }

        .bio-box {
            height: 60vh;
            
            p {
                font-size: 16px;
            }
        }
    
        .project {
            margin-bottom: 5vh;
            height: 100%;
        }
    }
    
}